<ion-header [translucent]="true">
  <ion-toolbar color="success"> 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> </ion-buttons> <ion-title>Personajes API</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let c of characters" [routerLink]="['/details', c.id]">
      <ion-avatar slot="start">
        <img [src]="c.image" alt="imagen personaje"/>
      </ion-avatar>
      <ion-label>
        <h2>{{ c.name }}</h2>
        <p>{{ c.species }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>