/* 1. Importaciones obligatorias de Ionic (Solo una vez) */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* 2. Utilidades opcionales */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* 3. Paleta de colores (Modo oscuro opcional) */
@import '@ionic/angular/css/palettes/dark.system.css';

/* -----------------------------------------------------------
   PERSONALIZACIÓN SIMPSON
   ----------------------------------------------------------- */

/* A. Tipografía Global: Forzamos Comic Sans en TODO */
* {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive !important;
}

/* B. Estilo de los Avatares (Ajuste para que se vea el pelo) */
ion-avatar {
  --border-radius: 8px; /* Redondeado suave, no circular total */
  background: #f0f0f0;
  border: 2px solid #fed420; /* Borde amarillo Simpson */
}

/* C. Estilo del Menú Lateral */
ion-menu {
  ion-content {
    --background: #ffffff;
  }
  
  ion-title {
    font-weight: bold;
    color: #000;
  }
}

/* D. Efectos en los Items (Hover amarillo Simpson) */
ion-item {
  --transition: 0.3s;
  
  &:hover {
    --background: #fed420; /* Amarillo clásico de la serie */
    color: #000;
    cursor: pointer;
  }
}

/* E. Ajuste para tarjetas (Cards) */
ion-card {
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* 1. Definimos la fuente personalizada */
@font-face {
  font-family: 'MyComicSans';
  src: url('./assets/fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* 2. La aplicamos a TODA la app */
* {
  font-family: 'MyComicSans', sans-serif !important;
}

/* 3. Forzamos en elementos específicos de Ionic */
ion-title, ion-label, ion-card-title, ion-button, p, h1, h2 {
  font-family: 'MyComicSans', sans-serif !important;
}